body {
  max-width: 500px;
}

form {
  max-width: 400px;
}

.form-row {
  display: flex;
}

.form-row label {
  width: 45%;
}

.form-row select {
  width: 40%;
}

.hidden {
  display: none;
}

.sharecode-div {
  padding-top: 10px;
}
.sharecode-div textarea {
  resize: none;
}

footer {
  border-top: 1px solid darkgrey;
}